<div class="box">
    <%= recipe.likes.count %> <label>Likes</label>
    <% if recipe.users_liked.include?(current_user) %>
      <form action='/likes/<%= recipe.likes.find_by(user_id:current_user).id %>' method='post'>
        <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
        <input type='hidden' name='_method' value='delete'>
        <input type='image' src='/images/Leafe_green_png.png' alt='Submit' class="leaf">
      </form>
    <% else %>
      <form action='/likes' method='post'>
        <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
        <input type='hidden' name='recipe_id' value='<%= recipe.id %>'>
        <input type='image' src='/images/Leafe_grey.png' alt='Submit' class="leaf">
      </form>
    <% end %>
  <%= link_to image_tag(recipe.image.url(:medium), :class => "img-rounded img-responsive"), recipe %>
  <p class="description">
    <%= recipe.description %>
  </p>
  <p>
    <strong>
      Posted by <%= recipe.user.name %>
    </strong>
  </p>

  <% if current_user == recipe.user %>
  <p>
    <%= link_to 'Edit', edit_recipe_path(recipe) %>
    <%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>
  <% end %>
</div>




<!-- <a href="/likes" class="links"><%= recipe.likes.count %> likes</a> -->
