<div class="row">
  <div class="col-md-6 col-md-offset-3 ">

<div class="box box2">
          <%= image_tag(@recipe.image(:medium), :class => "img-rounded img-responsive" )%>

      <p class="description">
       Title:<%= @recipe.title %><br>
       Description:<%= @recipe.description %><br>
       Steps:<%= @recipe.steps %><br>
       Time:<%= @recipe.time %> minutes<br>
       Serving Size:<%= @recipe.serving_size %><br>
       Ingredients<%= @recipe.ingredients %><br>
       Allergies:<%= @recipe.allergies %><br>
      </p>
      <p>
        <strong>
          Posted by <%= @recipe.user.name %>
        </strong>
      </p>
      
      <%= link_to 'Back', recipes_path %>
  </div>
</div>

</div>

