<div class="row">
  <div class="col-md-6 col-md-offset-3 ">
<div class="box box2">
          <%= image_tag(@recipe.image(:medium), :class => "img-rounded img-responsive" )%>
      <p class="title">
        <label> Title: </label><%= @recipe.title %><br>
       </p>
    <div class="content">
         <label>Time: </label> <%= @recipe.time %> <label>minutes</label><br>
         <label>Serving Size: </label> <%= @recipe.serving_size %> <label>people</label><br>

         <div class ="recipelist">
            <label>Ingredients: </label></br>
            <%= @recipe.ingredients %> 
         </div>

        <div class ="steplist">
            <label>Steps: </label><br>
            <%= @recipe.steps %><br>
         </div>

         <label>Allergies:   </label>  <%= @recipe.allergies %><br>
         <label>Description: </label>  <%= @recipe.description %><br>
      <p>
        <strong>
          Posted by <%= @recipe.user.name %>
        </strong>
      </p>
  </div>
  <div class = "ButtonRecipeShow">
      <%= link_to 'Back', recipes_path %>
      </div>
  </div>
  <div class = "comments">
      <h2>Comments</h2>
      <% @comment.each do |comment| %>
        <%= comment.content %>
      <% end %>

      <form action="/comments" method='post'>
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
        <input type="text" name="content">
        <input type='hidden' name='recipe_id' value='<%= @recipe.id %>'>
        <input type="submit" value="Post a Comment!">
      </form>
  </div>
 
</div>
</div>

